@model ClinicaVeterinaria.Models.Vendite

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vendite</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdProdotto" class="control-label"></label>
                <select asp-for="IdProdotto" class ="form-control" asp-items="ViewBag.IdProdotto"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdUtente" class="control-label"></label>
                <select asp-for="IdUtente" class ="form-control" asp-items="ViewBag.IdUtente"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cf" class="control-label"></label>
                <input asp-for="Cf" class="form-control" />
                <span asp-validation-for="Cf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdricettaMedica" class="control-label"></label>
                <select asp-for="IdricettaMedica" class ="form-control" asp-items="ViewBag.IdricettaMedica"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
