@model List<ClinicaVeterinaria.Models.Visite>

@{
    ViewData["Title"] = "Cronistoria delle Visite";
}

<h1>Cronistoria delle Visite</h1>

@if (Model.Any())
{
    <table class="table text-center table-hover border border-1">
        <thead>
            <tr>
                <th>Data Visita</th>
                <th>Anamnesi</th>
                <th>Descrizione Cura</th>
                <th>Prezzo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var visita in Model)
            {
                <tr>
                    <td>@visita.DataVisita</td>
                    <td>@visita.Anamnesi</td>
                    <td>@visita.DescrizioneCura</td>
                    <td>@visita.PrezzoVisita</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Non sono disponibili visite per questo animale.</p>
}
