@model ClinicaVeterinaria.Models.Ricoveri

@{
    ViewData["Title"] = "Nuovo Ricovero";
}

<h2>Nuovo Ricovero</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="IdAnimale" class="control-label">Animale</label>
        <select asp-for="IdAnimale" asp-items="ViewBag.Idanimale" class="form-control"></select>
        <span asp-validation-for="IdAnimale" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PrezzoGiornalieroRicovero" class="control-label">Prezzo Giornaliero</label>
        <input asp-for="PrezzoGiornalieroRicovero" class="form-control" />
        <span asp-validation-for="PrezzoGiornalieroRicovero" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Crea</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
