@model ClinicaVeterinaria.Models.Ricoveri

@{
    ViewData["Title"] = "Create";
}

<h1>Aggiungi Ricovero</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dataregistrazionericovero" class="control-label"></label>
                <input asp-for="Dataregistrazionericovero" class="form-control" />
                <span asp-validation-for="Dataregistrazionericovero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idanimale" class="control-label"></label>
                <select asp-for="Idanimale" class ="form-control" asp-items="ViewBag.Idanimale"></select>
            </div>
            <div class="form-group">
                <label asp-for="DataInizioRicovero" class="control-label"></label>
                <input asp-for="DataInizioRicovero" class="form-control" />
                <span asp-validation-for="DataInizioRicovero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFinericovero" class="control-label"></label>
                <input asp-for="DataFinericovero" class="form-control" />
                <span asp-validation-for="DataFinericovero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrezzoGiornalieroRicovero" class="control-label"></label>
                <input asp-for="PrezzoGiornalieroRicovero" class="form-control" />
                <span asp-validation-for="PrezzoGiornalieroRicovero" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsRicoveroAttivo" class="control-label"></label>
                <input type="checkbox" asp-for="IsRicoveroAttivo" />
                <span asp-validation-for="IsRicoveroAttivo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Aggiungi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Lista ricoveri</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
