@model ClinicaVeterinaria.Models.Dittafornitrice

@{
    ViewData["Title"] = "Create";
}

<h1>Aggiungi Ditta</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeDitta" class="control-label"></label>
                <input asp-for="NomeDitta" class="form-control" />
                <span asp-validation-for="NomeDitta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecapitoDitta" class="control-label"></label>
                <input asp-for="RecapitoDitta" class="form-control" />
                <span asp-validation-for="RecapitoDitta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Indirizzo" class="control-label"></label>
                <input asp-for="Indirizzo" class="form-control" />
                <span asp-validation-for="Indirizzo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Aggiungi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Lista ditte</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
