@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main>
    <h1>Informativa Privacy</h1>
    <p>La Clinica Veterinaria ("Clinica") si impegna a proteggere la privacy e la sicurezza dei dati personali dei suoi clienti. La presente informativa privacy ("Informativa") descrive le modalità di trattamento dei dati personali raccolti attraverso il nostro sito web.</p>

    <h5>Dati Personali Raccolti</h5>
    <p>Possiamo raccogliere diverse tipologie di dati personali, tra cui:</p>
    <ul>
        <li>Informazioni di contatto: nome, cognome, indirizzo email, numero di telefono, indirizzo postale.</li>
        <li>Informazioni relative al vostro animale domestico: nome, specie, razza, età, sesso, informazioni sanitarie.</li>
        <li>Informazioni relative alle vostre visite: data, ora, motivo della visita, veterinario curante, prestazioni erogate.</li>
        <li>Informazioni di pagamento: numero di carta di credito/debito, dati di fatturazione.</li>
    </ul>

    <h5>Modalità di Trattamento</h5>
    <p>I dati personali sono trattati per le seguenti finalità:</p>
    <ul>
        <li>Fornire i servizi richiesti: prenotazione di appuntamenti, gestione di visite e ricoveri, prescrizione di farmaci, invio di fatture.</li>
        <li>Inviare comunicazioni informative e promozionali: newsletter, aggiornamenti sui servizi offerti, promozioni.</li>
        <li>Adempiere agli obblighi di legge: contabili, fiscali, sanitari.</li>
    </ul>

    <h5>Base Giuridica del Trattamento</h5>
    <p>Il trattamento dei dati personali si basa su:</p>
    <ul>
        <li>Il consenso dell'utente: per l'invio di comunicazioni informative e promozionali.</li>
        <li>L'esecuzione di un contratto: per la fornitura dei servizi richiesti.</li>
        <li>L'adempimento di un obbligo legale: per gli adempimenti contabili, fiscali e sanitari.</li>
    </ul>

    <h5>Conservazione dei Dati</h5>
    <p>I dati personali sono conservati per il tempo necessario al raggiungimento delle finalità per cui sono stati raccolti, in conformità alle normative vigenti.</p>

    <h5>Condivisione dei Dati</h5>
    <p>I dati personali possono essere condivisi con:</p>
    <ul>
        <li>Personale interno della Clinica: veterinari, infermieri, assistenti, personale amministrativo.</li>
        <li>Fornitori di servizi esterni: società di hosting, società di marketing, consulenti.</li>
        <li>Autorità competenti: in caso di obblighi di legge.</li>
    </ul>

    <h5>Diritti dell'Utente</h5>
    <p>In qualità di interessato, l'utente ha il diritto di:</p>
    <ul>
        <li>Accedere ai propri dati personali: ottenere informazioni sui dati trattati, le finalità del trattamento, le categorie di dati, i destinatari dei dati, il periodo di conservazione.</li>
        <li>Rettificare i propri dati personali: chiedere la correzione di dati errati o incompleti.</li>
        <li>Cancellare i propri dati personali: chiedere la cancellazione dei dati in determinati casi, ad esempio in caso di trattamento illecito o di revoca del consenso.</li>
        <li>Limitare il trattamento dei propri dati personali: chiedere la sospensione del trattamento in determinati casi, ad esempio in caso di contestazione dell'esattezza dei dati.</li>
        <li>Opporsi al trattamento dei propri dati personali: opporsi al trattamento per motivi legittimi.</li>
        <li>Ricevere i propri dati personali in un formato strutturato, di uso comune e leggibile da un dispositivo automatico: per trasmettere i dati ad un altro titolare del trattamento.</li>
        <li>Proporre reclamo all'Autorità Garante per la Protezione dei Dati Personali.</li>
    </ul>

    <h5>Titolare del Trattamento</h5>
    <p>Il Titolare del trattamento dei dati personali è la Clinica Veterinaria.</p>

    <h5>Contatti</h5>
    <p>Per esercitare i propri diritti o per ricevere ulteriori informazioni sul trattamento dei dati personali, l'utente può contattare la Clinica al seguente indirizzo email: <a class="text-decoration-none text-black" href="mailto:clinicaveterinaria@gmail.com">clinicaveterinaria@gmail.com.</a></p>

    <h5>Aggiornamenti</h5>
    <p>La presente Informativa privacy è stata aggiornata in data 01/01/2024. La Clinica si riserva di aggiornare l'Informativa periodicamente. In caso di modifiche sostanziali, l'utente sarà informato tramite email o mediante avviso sul Sito.</p>

    <h5>Note</h5>
    <p>La presente Informativa è un esempio e deve essere adattata alle specifiche esigenze della Clinica.</p>
    <p>Si consiglia di consultare un avvocato per la redazione di un'Informativa privacy conforme alla normativa vigente.</p>
</main>

