@model ClinicaVeterinaria.Models.Prodotti

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifica Prodotto</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProdotto" />
            <div class="form-group mb-3">
                <label asp-for="Nomeprodotto" class="control-label"></label>
                <input asp-for="Nomeprodotto" class="form-control" />
                <span asp-validation-for="Nomeprodotto" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="IdDittaFornitrice" class="control-label"></label>
                <select asp-for="IdDittaFornitrice" class="form-control" asp-items="ViewBag.IdDittaFornitrice"></select>
                <span asp-validation-for="IdDittaFornitrice" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Prezzo" class="control-label"></label>
                <input asp-for="Prezzo" class="form-control" />
                <span asp-validation-for="Prezzo" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsMedicinale" /> @Html.DisplayNameFor(model => model.IsMedicinale)
                </label>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PossibiliUsi" class="control-label"></label>
                <input asp-for="PossibiliUsi" class="form-control" />
                <span asp-validation-for="PossibiliUsi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoProdotto" class="control-label"></label>
                <!-- Mostra l'immagine esistente se presente -->
                @if (Model.FotoProdotto != null)
                {
                    <img src="@Url.Content("~/images/prdotti/" + Model.FotoProdotto)" alt="Foto Prodotto" class="img-thumbnail" width="150" />
                }
                <input type="file" name="uploadedImage" class="form-control" />
                <span asp-validation-for="FotoProdotto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-success me-2" type="submit" value="Modifica" />
                <a class="btn btn-outline-success" asp-action="Index">Lista Prodotti</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
