@model ClinicaVeterinaria.Models.Armadietti

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Armadietti</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdArmadietto" />
        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirmDelete()" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
@section Scripts {
    <script>
        function confirmDelete() {
            return confirm("Sei sicuro di voler eliminare questo armadietto?");
        }
    </script>
}