@model ClinicaVeterinaria.Models.Armadietti

@{
    ViewData["Title"] = "Delete";
}

<h1>Elimina Armadietto</h1>

<h3>Sei sicuro di voler eliminare questo armadietto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd class = "col-sm-10 mb-3">
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdArmadietto" />
        <input type="submit" value="Elimina" class="btn btn-danger" onclick="return confirmDelete()" /> |
        <a class="btn btn-outline-success me-2" asp-action="Index">Lista Armadietti</a>
    </form>
</div>
@section Scripts {
    <script>
        function confirmDelete() {
            return confirm("Sei sicuro di voler eliminare questo armadietto?");
        }
    </script>
}