@model ClinicaVeterinaria.Models.Armadietti

@{
    ViewData["Title"] = "Details";
}

<h1>Dettagli Armadietto</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd class = "col-sm-10 mb-3">
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success me-2" asp-action="Edit" asp-route-id="@Model?.IdArmadietto">Modifca</a> |
    <a class="btn btn-outline-success" asp-action="Index">Lista Armadietti</a>
</div>
