@model ClinicaVeterinaria.Models.Armadietti

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifica Armadietto</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdArmadietto" />
            <div class="form-group mb-3">
                <label asp-for="Descrizione" class="control-label"></label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-success me-2" type="submit" value="Modifica" />
                <a class="btn btn-outline-success" asp-action="Index">Lista Armadietti</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
