html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Classi personalizzate */

.nav, footer {
    background: rgba(39,141,63,1);
    background: -moz-linear-gradient(left, rgba(39,141,63,1) 0%, rgba(139,202,254,1) 80%, rgba(139,202,254,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39,141,63,1)), color-stop(80%, rgba(139,202,254,1)), color-stop(100%, rgba(139,202,254,1)));
    background: -webkit-linear-gradient(left, rgba(39,141,63,1) 0%, rgba(139,202,254,1) 80%, rgba(139,202,254,1) 100%);
    background: -o-linear-gradient(left, rgba(39,141,63,1) 0%, rgba(139,202,254,1) 80%, rgba(139,202,254,1) 100%);
    background: -ms-linear-gradient(left, rgba(39,141,63,1) 0%, rgba(139,202,254,1) 80%, rgba(139,202,254,1) 100%);
    background: linear-gradient(to right, rgba(39,141,63,1) 0%, rgba(139,202,254,1) 80%, rgba(139,202,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#278d3f', endColorstr='#8bcafe', GradientType=1 );
}

.navfarm {
    background-color: #278D3F;
    color: white;
}

body { /* classe per un'immagine di sfondo */
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.farm {
    background-color: #278D3F; /*verde*/
    color: white;
}

.vet {
    background-color: #81C5FE; /*celeste*/
    color: white;
}

.btn-info {
    background-color: #74C1FE;
    color: white;
}
    .btn-info:hover {
        background-color: #92cefc;
    }

.btn-success {
    background-color: #237536;
    color: white;
}
    .btn-success:hover {
        background-color: #58AB27;
    }

.btn-danger {
    background-color: #fa2619;
    color: white;
}
    .btn-danger:hover {
        background-color: #FF6F66;
    }

.btn-login {
    background-color: #237536;
    color: white;
}
    .btn-login:hover {
        background-color: #74C1FE;
    }