html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.imgDimensions {
    width: 100%;
    height: 200px;
    object-fit:cover ;
}

/* Classi personalizzate */

.grad {
    background: rgba(39,141,63,1);
    background: -moz-linear-gradient(left, rgba(39,141,63,1) 0%, rgba(139,202,254,1) 80%, rgba(139,202,254,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39,141,63,1)), color-stop(80%, rgba(139,202,254,1)), color-stop(100%, rgba(139,202,254,1)));
    background: -webkit-linear-gradient(left, rgba(39,141,63,1) 0%, rgba(139,202,254,1) 80%, rgba(139,202,254,1) 100%);
    background: -o-linear-gradient(left, rgba(39,141,63,1) 0%, rgba(139,202,254,1) 80%, rgba(139,202,254,1) 100%);
    background: -ms-linear-gradient(left, rgba(39,141,63,1) 0%, rgba(139,202,254,1) 80%, rgba(139,202,254,1) 100%);
    background: linear-gradient(to right, rgba(39,141,63,1) 0%, rgba(139,202,254,1) 80%, rgba(139,202,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#278d3f', endColorstr='#8bcafe', GradientType=1 );
}

.farm {
    background-color: #278D3F; /*verde*/
    color: white;
}

.vet {
    background-color: #81C5FE; /*celeste*/
    color: black;
}

.wh, .wh:hover{
    color: white;
}

.bl, .bl:hover{
    color: black;
}

body { /* classe per un'immagine di sfondo */
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.btn-info {
    background-color: #74C1FE;
    color: black;
}

.btn-outline-info {
    border: 2px solid #74C1FE
}

.btn-info:hover, .btn-outline-info:hover {
    background-color: #92cefc;
    color: black;
}

.btn-success {
    background-color: #237536;
    color: white;
}

.btn-outline-success {
    border: 2px solid #237536
}

.btn-success:hover, .btn-outline-success:hover {
    background-color: #58AB27;
}

.btn-danger, .btn-outline-danger {
    background-color: #fa2619;
    color: white;
}
.btn-danger:hover, .btn-outline-danger:hover {
    background-color: #FF6F66;
}

.btn-login {
    background-color: #237536;
    color: white;
}

.btn-login:hover {
    background-color: #74C1FE;
}

nav .nav-link{
    display: inline-block;
    margin: 0;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5;
}